:root {
	--c-brand: rgb(252, 81, 48);
	--c-brand-light: #B756FF;
	--vp-c-brand: rgb(252, 81, 48); /* Hey, I'm Lais - Nav Links Hover */
	--vp-button-brand-bg: rgb(18, 18, 18);
	--vp-button-brand-border: #303030;
	--vp-button-brand-hover-bg: #323232;
	--vp-button-brand-hover-border: #303030; /*  */
	--vp-button-brand-active-bg: #303030;
	--vp-button-brand-active-border: rgb(183, 86, 255);
	--vp-c-brand-dark: #2C3E50; /* Link Back Hover */
}

.root .outline-link:hover {
	color: #FC5130;
}

.nav-bar .logo {
	height: 30px;
	margin-right: 2px;
}

infoblocktitle {
	color: #2C3E50;
}

infoblocktext {
	color: #2C3E50;
}

warningblocktitle {
	color: #2C3E50;
}

warningblocktext {
	color: #2C3E50;
}

dangerblocktitle {
	color: #2C3E50;
}

dangerblocktext {
	color: #2C3E50;
}

.VPHome {
	margin-block-end: -60px;
}
.VPHome .VPHero.has-image.VPHomeHero .container .image {
	display: block;
}

.VPHome .VPHero .image-src {
	margin: auto 40px;
	position: absolute;
}

.VPHero .name { /* Hey, I'm Lais */
	font-size: 60px;
	line-height: 130%;
}

.VPHero .text { /* I turn information into experiences */
	font-size: 44px;
	line-height: 130%;
	color: #2C3E50;
}

.VPHero .tagline {
	font-size: 20px;
}

.heroimage {
	display: flex;
	margin: auto;
	margin-top: -340px;
	margin-right: 300px;
	max-width: 20%;
}

.link-back {
	display: flex;
	max-width: 1150px;
	margin: 0 auto;
	color: #FC5130;
	font-weight: 500;
}

a.link-back:hover {
	color: #2C3E50;
}

.link-top {
	display: flex;
	max-width: 1150px;
	margin: 0 auto;
	color: #FC5130;
	font-weight: 500;
}

.quote {
	font-weight: 700;
}

.VPFeature.link[data-v-549c013f]:hover { /* Feature Blocks Hover Border */
	border-color: #2176AE;
}

@media only screen and (max-width: 959px) {
	.VPHome {
		flex-direction: column-reverse;
	}

	.VPHome .VPHero .image-src {
		margin: auto;
		position: absolute;
	}

	.VPHero .name {
		font-size: 32px;
		line-height: 130%;
		padding-bottom: 8px;
	}

	.VPHero .text {
		font-size: 22px;
	}
	
	.VPHero .tagline {
		font-size: 16px;
	}

	.VPHome .actions {
		flex-direction: column;
	}
	
	.heroimage {
		margin: auto auto 0 auto;
		width: fit-content;
		max-width: 50%; width: 200px;
	}

	.link-back {
		display: flex;
		max-width: 360px;
		margin: 0 auto;
		color: #FC5130;
		font-weight: 500;
	}
}

@media only screen and (max-width: 639px) {
	.heroimage {
		max-width: 35%;
	}
}